{% extends "./base.html"%}

{% block body %}
<section class="coffee">

    <img class="coffee-img" src="/static/multimedia/images/icon_fyf.gif" <div class="coffee-content container">
    <h2>Fauna y flora de la ciudad de Tunja. </h2>
    <p class="txp-p">
        ¿Sabías que a la ciudad de Tunja la atraviesan dos ríos principales?: Jordán y La Vega; tiene la reserva
        forestal protectora ‘El Malmo’, una Reserva Natural de la Sociedad Civil, y hace parte del complejo de
        Páramos del Altiplano Cundiboyacense. En Tunja se han identificado 37 ecosistemas con características de
        humedal y seis de ellos se han delimitado; y el volumen del acuífero, principal reserva de agua de la
        región, es 30 veces superior al del embalse de La Copa.
    </p>

    <div class="coffee-group">

        <div class="imagen1">
            <div img src="/static/multimedia/images/ecoturismo.png" alt="">
                <h3>FAUNA</h3>
                <p>Se reportó un total de 50 registros de fauna, pertenecientes a 29 especies (1 de anfibios, 2
                    de reptiles, 19 de aves y 6 de mamíferos); además, se reportaron 94 individuos de flora. La
                    fauna de Tunja es diversa e incluye especies como el colibri, el carpintero y el gavilán. La
                    ciudad tambien alberga una población de venados de cola blanca y ademas zorros.
                </p>
            </div>

            <div class="imagen1">
                <img src="/static/multimedia/images/c1.png" alt="">
                <h3>HALLAZGOS</h3>
                <p> Hallamos 8.860 nuevos registros de especies de flora y fauna. Se han identificado 430
                    especies d eplantas ornamentales enla ciudad, distribuidas en 314 géneros y 87 familias .
                    Entre las especies más comunes se encuentran el Arrayán, el Laurel de cera y el Pino
                    romerón.
                </p>
            </div>

            <div class="imagen1">
                <img src="/static/multimedia/images/c2.png" alt="">
                <h3>REPORTE</h3>
                <p> Hallamos 1.825 especies que ya estan plenamente identificadas. EL habito más importante en
                    terminos de riqueza de especies fue el de las hiervas, seguido por los habitos leñosos
                    (árboles y arbustos). En ambientes del exterior se encontraron más especies de tipo arbóreo
                    y arbustivo.
                </p>
            </div>
        </div>

        <div class="imagen1">
            <img src="/static/multimedia/images/c3.png" alt="">
            <h3>DIVERSIDAD</h3>
            <p> Hallamos 155 especies de las que no se tenía registro cientifico en Boyacá.
            </p>
        </div>
    </div>
    <a href="#" class="btn-1">INFORMACIÓN RELEVANTE</a>
    </div>

{% endblock %}